<div class="container">
  <h1>Contacto</h1>

  Tamaño del Slider:
  <input type="number" [(ngModel)]="widthSlider"/>
  <button (click)="cargarSlider()">Cargar slider</button>
  <button (click)="resetearSlider()">Reestablecer slider</button>

   <div *ngIf="anchuraToSlider">      
        <slider [anchura]="anchuraToSlider"
                [etiquetas]="captions"
                (conseguirAutor)="getAutor($event)"
        ></slider>  
  
   </div>

   {{autor.nombre + " " + autor.website + " " + autor.youtube}}
</div>
