<div id="title">
  <h1>{{title}}</h1>
  <h2>{{subtitle}}</h2>
  <p>{{email}}</p>
</div>



<article class="about">
  <h2>Sobre mí</h2>
  <p>
    Programador informático junior. <br> Actualmente estudiando el ciclo superior
    de Desarollo de Aplicaciones Web en el Institut Obert de Catalunya (IOC).<br>
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed numquam omnis aut voluptatem ad corrupti ratione eius quia alias? Eum distinctio tempore qui provident illo? Rem et voluptas debitis exercitationem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui officiis quod, beatae eius eaque non aut sequi saepe eum! Dolores repellendus consectetur, eaque tempore repellat nulla aliquam libero beatae exercitationem!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis voluptatibus praesentium deserunt, corporis dicta, sequi quae libero laborum error, quis fugiat minima eveniet! Necessitatibus ex eius quibusdam, at laboriosam ad.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus dicta vitae modi ut impedit doloremque sed recusandae, omnis vel, vero eligendi numquam labore tenetur explicabo expedita magni odit cum incidunt!
  </p>

</article>