/* Importar fuentes custom*/
@font-face{
    font-family: "yanone";
    src: url("fonts/yanone.ttf");
}

@font-face{
    font-family: "finger";
    src: url("fonts/finger.ttf");
}

/*Generales*/

*{
    margin: 0px;
    padding: 0px;
}
        /*Se ajusta al contenido*/
#content{
    overflow: hidden;
}

body{
    font-family: "yanone", Arial, Helvetica;
    font-size: 20px;
    background: url("../img/pattern.png");
    background-attachment: fixed;
}

.clearfix{
    float: none;
    clear: both;
}

/* Barra de navegaci칩n / cabecera*/
header{
    display: block;
    width: 100%;
    height: 90px;
    background: rgba(53,103,164,0.8);
    position: fixed;
    text-transform: uppercase;
}

header  ul{
    display: block;
    width: 40%;
    height: inherit; /*hederado del header*/
    margin:0px auto;
    margin-top: -3px;
}

header ul li{
    display: inline-block;
    margin: 0px auto;
    text-align:center;
    line-height:88px;
}

header a{
    display:block;
    padding-right:20px;
    padding-left: 20px;
    height:inherit;
    text-decoration: none;
    color:white;
    transition:all 300ms;
}

header a:hover,
.actived{
    background:rgba(0,0,0,0.8);
}

/*Logotipo*/
#logo{
    font-family: "finger";
    font-size: 30px;
}

#logo a{
    transition: color 500ms, transform 500ms;
}

#logo a:hover{
    background:transparent;
    color: black;
    transform: scale(1.50,1.50);
}

/*Contenedor principal*/

#content{
    min-height: 550px;
    height: auto;
    width:75%;
    margin: 0px auto;
    box-shadow: 0px 0px 40px black;
    border-left: 1px solid #b7b7b7;
    background: rgba(255,255,255,0.7);
    padding-top: 120px;
}

/* Pie de p치gina*/
footer{
width:75%;
margin: 0px auto;
padding-top: 15px;
color: rgba(0,0,0,0.5);
text-align:center;
}

/* Sobre mi*/
#title{
    width:70%;
    margin:0px auto;
    text-align:center;
    margin-top:20px;
    margin-bottom: 70px;
}

#title h1{
    font-family: "finger";
    font-size: 60px;
    border-bottom:1px solid #ccc;
    padding-bottom:5px;
}

#title h2{
    font-size:25px;
    color:gray;
    margin-top:5px;
    margin-bottom:5px;
}

article.about{
    width:70%;
    margin:0px auto;
    margin-bottom:20px;
    font-size:23px;
}       

.about h2{
    border-bottom:1px solid #ccc;
    padding-bottom:5px;
    margin-bottom:5px;
}

.about p{
    padding-top:20px;
    padding-bottom:30px;
    text-align:justify;
}

/* Secci칩n con formulario*/
.container{
    padding:50px;
    padding-top:10px;
}

.container .image{
    float:left;
    width:49%;
}

.container .image img{
    width:100%;
}

.container .data{
    float:left;
    width:48%;
    margin-left: 30px;
}

.container h2{
    display:block;
    border-bottom:1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

form{
    width: 80%;
}

form label{
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="number"],
form input[type="email"],
form textarea{
    width:40%;
    padding: 5px;
}
form button,
form input[type="submit"],
.button-edit,
.button-delete{
    display: block;
    font-size:17px;
    padding: 10px;
    margin-top: 15px;
    color:white;
    background: rgba(53,103,164,1);
    border: 1px solid rgba(13,67,133,1);
    cursor: pointer;    
}

.button-edit,
.button-delete{
    width: 30%;
    text-align: center;
    float: left;
    margin-right: 10px;
    margin-top:25px;
    text-decoration: none;
}

form button:hover,
form input[type="submit"]:hover{
    background: rgba(53,103,164,0.8);
    border: 1px solid rgba(13,67,133,1);
}

form input[disabled]{
    opacity:0.4;
    cursor:not-allowed;
}

.form-error{
    font-size: 18px;
    padding:3px;
    background:red;
    color:white;
    margin-left:10px;
}

.message{
    width: 50%;
    padding:5px;
    border:1px solid #eee;
}

.success{
    background: green;
    color:white;
}

.message a{
    color:white;
}
.failed{
    background: red;
    color:white;
}

/*P치gina de proyectos*/
.project{
    list-style: none;
    display: block;
    float: left;
    width: 28%;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
}

.project .image{
    width: 100%;
    height: 100%;
    max-height: 300px;
    overflow: hidden;
    object-position: center center;
}

.project img{
    width: 100%;
}

.confirm{
    display: block;
    font-weight: bold;
    margin-top: 50px;
}